<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Dashboard page</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="overflow-hidden">
    <div class="text-slate-700 flex w-screen h-screen justify-center my-auto font-semibold text-2xl mt-6"> 
        User Dashboard
    </div>
</body>
</html>